My Amplifier*
opentuner.db
bin/libxs_generator
include/libxs_config.h
include/libxs_source.h
include/libxs.f
include/libxs.h
build/libxs_dispatch.h
build/mm_*_*_*.c
build/*/*/*.xml
lib/libxs*
ide/_vs*-*.bat
ide/.vs
ide/build
ide/r*ah
samples2
samples/*/bin
samples/*/*.sln
samples/*/*.dat
samples/*/*.pdf
samples/*/*.png
inspector*
site
bin
tmp
.vscode
.state
.make
threadsafety-*.txt
malloc-trace-*.txt
blas-trace-*.txt
codecov-*.txt
keywords.txt
notes.txt
err*.txt
out*.txt
log.txt
_*.txt
.libxs_??????.*
*.lastcodeanalysissucceeded
*.amplxeproj
*.advixeproj
*.inspxeproj
*.stackdump
*.opensdf
*.opendb
*.VC.db
*.dylib
*.docx
*.user
*.tlog
*.gcno
*.gcda
*.gcov
*.html
*.iobj
*.ipdb
*.URL
*.log
*.suo
*.exe
*.zip
*.pyc
*.sdf
*.ilk
*.pdb
*.obj
*.lib
*.mod
*.bin
*.jit
*.smm
*.soa
*.csr
*.dll
*.mhd
*.out
*.so
*.o
*.a
*.i
*.s
*.*~

