.hooks/.commit
My Amplifier*
bin/libxs_generator
include/libxs_config.h
include/libxs_source.h
include/libxs.f
include/libxs.h
build/libxs_dispatch.h
build/mm_*_*_*.c
lib/libxs*
ide/_vs*-*.bat
ide/*.amplxeproj
ide/build
ide/r*ah
tmp
.state
.make
codecov-*.txt
keywords.txt
notes.txt
err*.txt
out*.txt
log.txt
_*.txt
*.stackdump
*.opensdf
*.opendb
*.VC.db
*.dylib
*.docx
*.user
*.tlog
*.gcno
*.gcda
*.gcov
*.iobj
*.ipdb
*.log
*.suo
*.exe
*.zip
*.pyc
*.sdf
*.ilk
*.pdb
*.obj
*.lib
*.mod
*.bin
*.jit
*.smm
*.soa
*.csr
*.dll
*.mhd
*.so
*.o
*.a
*.i
*.s
*.*~
