{% extends "base.html" %}

{% block site_meta %}
  <meta name="_google-site-verification" content="todo">
  {{ super() }}
{% endblock %}

{% block footer %}
  <hr>
  {%- if config.copyright %}
    <p>{{ config.copyright }}</p>
  {%- endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if config.extra.collapsed_nav %}
  <script>
  (function() {
    var collapsed = {{ config.extra.collapsed_nav | tojson }};
    var captions = document.querySelectorAll("p.caption");
    for (var i = 0; i < captions.length; i++) {
      var span = captions[i].querySelector("span.caption-text");
      if (!span) continue;
      var ul = captions[i].nextElementSibling;
      if (!ul || ul.tagName !== "UL") continue;
      var text = span.textContent.trim();
      var hasCurrent = ul.querySelector("li.current");
      var startCollapsed = !hasCurrent;
      if (startCollapsed) {
        startCollapsed = false;
        for (var j = 0; j < collapsed.length; j++) {
          if (text === collapsed[j]) { startCollapsed = true; break; }
        }
      }
      span.style.cursor = "pointer";
      captions[i].classList.add("collapsible");
      if (startCollapsed) {
        ul.style.display = "none";
        captions[i].classList.add("collapsed");
      }
      (function(caption, list) {
        caption.addEventListener("click", function() {
          if (list.style.display === "none") {
            list.style.display = "";
            caption.classList.remove("collapsed");
          } else {
            list.style.display = "none";
            caption.classList.add("collapsed");
          }
        });
      })(captions[i], ul);
    }
  })();
  </script>
  {% endif %}
{% endblock %}
